@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="align-items: center; background-color: #edbf9f ">
    <h1 style="align-items: center;">3CP41 Mini-Project</h1><br><br>
    <h2 style="align-items: center;">Library Management System</h2>
</div>
<div>
    <p style="color: darkolivegreen; font-size: 18px; font-family: sans-serif">
        <b>-Made By</b>
    </p>
    <p style="color: darkolivegreen; font-size: 20px; font-family: sans-serif ">
       <b> 19CP066 Hemang Parekh</b>
        </p>
    <p style="color: darkolivegreen; font-size: 20px; font-family: sans-serif ">
      <b>  19CP067 Jainil Patel</b> 
    </p>
</div>